absl-py
astunparse
attrs
bcrypt
cached-property
cachetools
cffi
chardet
click
cryptography
cycler
distro
docker
docker-compose
dockerpty
docopt
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
jsonschema
keras-preprocessing
kiwisolver
markdown
matplotlib
nltk
numpy
oauthlib
opt-einsum
pandas
paramiko
protobuf
pyasn1
pyasn1-modules
pycparser
pynacl
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pyyaml
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
texttable
threadpoolctl
torch
tqdm
urllib3
websocket-client
werkzeug
wrapt
zipp
